RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]





# RewriteCond %{REQUEST_URI} !\.(pdf)$
RewriteCond %{HTTP_HOST} ^https://samya-s.github.io/jeechallenger$ [NC]
RewriteRule ^(.*)$ https://jeechallenger.herokuapp.com/$1 [R=301,L]

# RewriteCond %{HTTP_HOST} ^https://jeechallenger.herokuapp.com$ [NC]
# RewriteRule ^(.*\.pdf)$ https://samya-s.github.io/jeechallenger/$1 [R=301,L]