@media screen and (max-width: 900px){
    .welcomeimg{
        background: url(images/home.jpg) no-repeat center; 
        background-size: cover;
        height: 550px;
        position: relative;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    .centered{
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        position: absolute;
    }
    .centered h1, .centered h4{
        text-align: center;
        color: black;
    }
    .welcomeimgpc{
        display: none;
    }
}
@media screen and (min-width: 900px){
    .centered h1{
        text-align: center;
        padding-left: 10%;
        /* isolation: unset; */
        color: rgb(255, 50, 0);
    }
    .centered h4{
        text-align: center;
        padding-left: 10%;
        /* isolation: unset; */
        color: rgb(0, 217, 255);
    }
    .welcomepc{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        padding: 5%;
    }
}





/* image animation */
/* @media screen and (min-width: 900px){
    .welcomeimgpc{
        animation: slide-left 0.4s ease;
    }
    @keyframes slide-left{
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
} */


/* text animation */
/* .centered h4{
    display:inline-block;
    overflow:hidden;
    white-space: nowrap;
}
.centered h4 #copy {
    animation: showup 7s;
    display:inline-block;
    overflow:hidden;
    white-space: nowrap;
}
.centered h4 #name {
    animation: reveal1 7s;
    display:inline-block;
    overflow:hidden;
    white-space: nowrap;
} */
                                                /* .centered h4 #name span {
                                                    animation: slidein 7s;
                                                } */
/* @media screen and (min-width: 900px){
    @keyframes showup {
        0% {opacity:0;}
        20% {opacity:1;}
        80% {opacity:1;}
        100% {opacity:1;}
    } */
                                                /* @keyframes slidein {
                                                    0% { margin-left:-800px; }
                                                    20% { margin-left:-800px; }
                                                    35% { margin-left:0px; }
                                                    100% { margin-left:0px; }
                                                } */
    /* @keyframes reveal1 {
        0% {opacity:0;width:0px;}
        20% {opacity:1;width:0px;}
        30% {width:152.5px;}
        80% {opacity:1;}
        100% {opacity:1;width:152.5px;}
    }
}

.centered #start-line{
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, rgb(255, 50, 0), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Source Sans Pro", sans-serif; */
    /* animation: reveal 1s ease-out 1 both  */
    /*ease-in-out forwards 200ms*//*, glow 2500ms linear infinite 2000ms -- glow animation removed*/
    /* ; */
    /* display: inline-block;
} */
/* @media screen and (min-width: 900px){
    @keyframes reveal {
        from{
            opacity: 0;
            transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
        }
        to{
            opacity: 1;
            transform: perspective(500px) translate3d(0, 0, 0);
        }
    } */

    /* @keyframes glow {                                -- glow animation removed
        40% {
        text-shadow: 0 0 8px rgb(255, 50, 0);
        }
    } */
/* } */
                                                            /* @media screen and (max-width: 900px){
                                                                @keyframes glow {
                                                                    40% {
                                                                    text-shadow: 0 0 8px rgb(0, 0, 0);
                                                                    }
                                                                }
                                                                #name, #copy{
                                                                    font-weight: 500;
                                                                }
                                                            } */